@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    @apply font-primary bg-slate-100/10 text-primary;
  }

  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
  }

  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold
  }

  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
  }
  .text-outline{
    -webkit-text-stroke: 1px #fff;
  }
  
  .text-outline-hover{
    -webkit-text-stroke: 1px #00ff99;
  }

  .required {
    @apply after:text-red-500  after:content-['*'] after:ml-0.5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}